<!DOCTYPE html>
<html>
<head lang="en">
<title>Agilent TapeStation 2200 Report</title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
<style type="text/css">
    .container {
        max-width: 1200px;
        padding-top: 10px;
        font-size: 22px;
    }
</style>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
