{% extends "base.html" %}
{% block content %}

<h1>Gel Summary {{ date }}</h1>

{%if fullGelPlot != None %}
    <img src="data:image/png;base64,{{ fullGelPlot }}"/>
{% endif %}

{%if targetRange != None %}
<p><strong>Targeted Molecular weight range:</strong> {{ targetRange[0] }}--{{ targetRange[1] }}</p>

{% endif %}

{% for row in rows %}
    <h2>Lane {{ row['index'] }}</h2>
    <p><strong>Well ID:</strong> {{ row['wellID'] }}</p>
    <p><strong>Description:</strong> {{ row['description'] }}</p>
    <p class="flags"><strong>Flags:</strong> {{ row['flags'] }}</p>

    {%if row['image'] != None %}
        <img src="data:image/png;base64,{{ row['image'] }}"/>
    {% endif %}

    {%if row['table'] != None %}
        {{ row['table'] }}
    {% endif %}

{% endfor %}
{% endblock content %}
