{% extends "base.html" %}
{% block content %}

<h1>Gel Summary {{ date }}</h1>

{%if fullGelPlot != None %}
    <img src="data:image/png;base64,{{ fullGelPlot }}"/>
{% endif %}

{% for row in rows %}
    <h2>Lane {{ row['lane'] }}</h2>
    <p><strong>Well ID:</strong> {{ row['wellID'] }}</p>
    <p><strong>Description:</strong> {{ row['description'] }}</p>

    {%if row['lanePlot'] != None %}
        <img src="data:image/png;base64,{{ row['figdata_png'] }}"/>
    {% endif %}

{% endfor %}
{% endblock content %}
